$primary--light: #1e7376;
$bg--layout--light: #ffffff;
$bg--light: #f8fafc;
$bg--highlight--light: #f4f5f6;
$bg--selected--light: #e8f1f1;
$text--selected--light: $primary--light;
$border--light: #e8ecf1;
$text--secondary--light: #667085;
$text--primary--light: #101828;

$themes: (
        light: (
          primary: $primary--light,
          border: $border--light,
          bg: $bg--light,
          bg--layout: $bg--layout--light,
          bg--selected: $bg--selected--light,
          text--selected: $text--selected--light,
          text--primary: $text--primary--light,
          text--secondary: $text--secondary--light,
        ),
        dark: (
        ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), $key);
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
